.tabs {
    clear: both;
    position: relative;
    margin: 0 auto;
    /* you can either manually set a min-height here or do it via JS ---> */
}

.tab {
    display: flex;
    justify-content: center;
    gap: 42px;
}

.tab label {
    position: relative;
    top: 0;
    cursor: pointer;
    padding: 2px 26px;
    color: #FC9B00;
    border: 0.666667px solid #FC9B00;
    border-radius: 3.33333px;
    font-size: 10px;
}

.tab [type=radio] {
    display: none;
}

.tab__content {
    height: 500px;
    position: relative;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    transition: opacity .2s cubic-bezier(.42, 0, .34, 1.01);
    opacity: 0;
}

.tab-text {
    color: #fff;
    margin-bottom: 56px;
}

[type=radio]:checked~label {
    color: #181818;
    background: #FC9B00;
    z-index: 2;
}

[type=radio]:checked~label~.tab__content {
    z-index: 1;
    opacity: 1;
}